<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Song Home</title>
  </head>
  <body>
    {% extends "template.html" %} {% block content %}
    <table class="doctable">
      <tr>
        <th>Doctor ID</th>
        <th>Doctor Name</th>
        <th>Remove Doctor</th>
        <th>Update Doctor Info</th>
      </tr>
      {% for doctor in docInfo%}
      <tr>
        <td>{{doctor['doctorId']}}</td>
        <td>{{doctor['doctorName']}}</td>
        <td>
          <form action="/Doctors" method="POST">
            <input
              type="hidden"
              value="{{doctor['doctorId']}}"
              id="remdoc"
              name="remdoc"
            />
            <input value="Remove" type="submit" />
          </form>
        </td>
        <td>
          <form action="/UpdateDoc" method="POST">
            <input
              type="hidden"
              value="{{doctor['doctorName'],doctor['doctorId']}}"
              id="updoctor"
              name="updoctor"
            />
            <input value="Update" type="submit" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    <form action="/Doctors" method="POST">
      <input type="text" id="adddoc" name="adddoc" />
      <input value="Add Doctor" type="submit" />
    </form>
    {% endblock %}
  </body>
</html>
