<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Song Home</title>
  </head>
  <body>
    {% extends "template.html" %} {% block content %}
    <div class="search-return">
      <form action="/Dogs" method="POST">
        <input
          type="text"
          value=""
          id="searchdog"
          name="searchdog"
          placeholder="Search for a dog, doctor, or attribute"
        />
        <input value="Search" type="submit" />
      </form>
      <form action="/Dogs" method="POST">
        <input type="hidden" value="" id="searchdog" name="searchdog" />
        <input value="Clear Search Results" type="submit" />
      </form>
    </div>
    <table class="dogtable">
      <tr>
        <th>Dog ID</th>
        <th>Dog Name</th>
        <th>Doctor Name</th>
        <th>Malady</th>
        <th>Remove Dog</th>
        <th>Update Dog Info</th>
      </tr>
      {% for dog in dogInfo%}
      <tr>
        <td>{{dog['animalId']}}</td>
        <td>{{dog['animalName']}}</td>
        <td>{{dog['doctorName']}}</td>
        <td>{{dog['maladyName']}}</td>
        <td>
          <form action="/Dogs" method="POST">
            <input
              type="hidden"
              value="{{dog['animalId']}}"
              id="remdog"
              name="remdog"
            />
            <input value="Remove" type="submit" />
          </form>
        </td>
        <td>
          <form action="/Update" method="POST">
            <input
              type="hidden"
              value="{{dog['maladyId'],dog['doctorId'],dog['animalName'],dog['animalId']}}"
              id="updog"
              name="updog"
            />
            <input value="Update" type="submit" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    <form action="/Dogs" method="POST">
      <input type="text" id="adddog" name="adddog" placeholder="Dog Name" />
      <input
        type="text"
        id="adddogdoc"
        name="adddogdoc"
        placeholder="Doctor ID"
      />
      <input
        type="text"
        id="adddogmal"
        name="adddogmal"
        placeholder="Malady ID"
      />
      <input value="Add Dog" type="submit" />
    </form>
    {{warning}} {% endblock %}
  </body>
</html>
